{% extends "layout.html" %}
{% block title %}{{ lang_title }}{% endblock %}
{% block content %}
<h1 align="center"><b>LinguaLearn - {{ lang_title }}</b></h1>
<br><br>
<div class="boxed">
  <div id="chatbox">
    <p class="botText">
    <span>{{ intro_message }}</span>
    </p>
  </div>
  <div id="userInput">
      <input align="center" id="textInput" class="form-control" type="text" name="msg" placeholder="{{ placeholder }}" /><br>
      <img id="recordButton" src="static/img/record.svg" height="64px" width="64px" onclick="toggleRecording()">
  </div>
</div>
<script>const lang = '{{ lang_code }}';</script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}